.categoryWrapper{
    background-color: rgba(222, 222, 222,0.8);
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}
.category{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category>div{
    padding: 1rem;
}
.category img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}
.category img:hover{
    opacity: 0.4;
}