.container {
  display: flex;
  justify-content: center;
}
.header {
  z-index: 2;
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 0 0.8rem;
  background-color: rgba(222, 222, 222, 0.8);
  border-radius: 10px;
  font-size: large;
}
.notInhome {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto 0;
  padding: 0 0.8rem;
  background-color: rgba(222, 222, 222, 0.8);
  border-radius: 10px;
  font-size: large;
}
.logo {
  font-size: xx-large;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
nav h5 {
  margin: 0;
}
.account {
  display: flex;
  gap: 0.2rem;
}
.account > * {
  padding: 0.8rem;
  margin: 5px auto;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  background-color: rgba(165, 155, 155, 0.4);
  border-radius: 3px;
}
nav input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
nav input:hover {
  border-bottom: 1px solid black;
}
.iconHome:active{
  transform: scale(0.9);
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 30;
  background-color: rgba(222, 222, 222, 0.8);
}
.dropdownContainer:hover + .dropdownMenu {
  display: block;
}
.dropdownMenu:hover {
  display: block;
}
.dropdownMenu li {
  padding: 1rem;
  border-radius: inherit;
}
.dropdownMenu li:hover {
  background-color: rgba(165, 155, 155, 0.4);
}
.dropdownMenu {
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  font-size: small;
}
.dropdownMenu li Link {
  height: 100%;
}
.dropdownMenu li > * {
  color: inherit;
  text-decoration: none;
}
.bump {
  animation: bump 300ms ease-out;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.welcome {
  display: flex;
  gap: 1rem;
}
.homeIcon{
    color: inherit;
    text-decoration: none;
}
