.layout {
  position: absolute;
  right: 0;
  top: 8rem;
  margin-left: auto;
  border-radius: 1rem;
  border: 2px solid rgba(222, 222, 222, 0.8);
  width: 80%;
}
.layout h3 {
    text-align: center;
  }
.layout section {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  